@import url('bootstrap.min.css');

/* Add custom CSS AFTER here */
.playButton {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 50%;
	background-color: #CCCCCC;
	text-align: center;
}

.correct {
	display:none;
}

.wrong {
	display:none;
}

.playButton-btn {
	width:100%;
	font-size: 2em;
}

.playAgain {
	display: none;
}

.options {
	display: none;
}

/* Admin Page */

.error {
	display:none;
	position: absolute;
	left: 10%;
	top: 30%;
	width: 80%;
	height: 40%;
	background-color: #CCCCCC;
	text-align: center;
}