@import url('bootstrap.min.css');

/* Add custom CSS AFTER here */
.playButton {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 50%;
	background-color: #CCCCCC;
	text-align: center;
}

.playButton-btn {
	width:100%;
	height:80%;
	font-size: 2em;
}

.playAgain {
	display: none;
}

.options {
	display: none;
}